[submodule "web/typepad"]
	path = db/web/typepad
	url = git@github.com:Yuoek/typepad.git
[submodule "web/qwerty-learner"]
	path = db/web/qwerty-learner
	url = git@github.com:Yuoek/qwerty-learner.git
[submodule "film/film"]
	path = film/film
	url = git@github.com:Yuoek/film.git
[submodule "code/python"]
	path = life/code/python
	url = git@github.com:Yuoek/python.git
[submodule "film/music"]
	path = film/music
	url = git@github.com:Yuoek/music.git
[submodule "science/mathematics"]
	path = science/mathematics
	url = git@github.com:Yuoek/mathematics.git
[submodule "hugo/hugo"]
	path = life/hugo/hugo
	url = git@github.com:Yuoek/hugo.git
[submodule "tools"]
	path = life/tools
	url = git@github.com:Yuoek/tools.git
[submodule "hugo/hugo-docs"]
	path = life/hugo/hugo-docs
	url = git@github.com:Yuoek/hugo-docs.git
[submodule "code/c"]
	path = life/code/c
	url = git@github.com:Yuoek/c.git
[submodule "code/cpp"]
	path = life/code/cpp
	url = git@github.com:Yuoek/cpp.git
[submodule "code/java"]
	path = life/code/java
	url = git@github.com:Yuoek/java.git
[submodule "code/javascript"]
	path = life/code/javascript
	url = git@github.com:Yuoek/javascript.git
[submodule "code/go"]
	path = life/code/go
	url = git@github.com:Yuoek/go.git
[submodule "hugo/hugo-wiki"]
	path = life/hugo/hugo-wiki
	url = git@github.com:Yuoek/hugo-wiki.git
[submodule "hugo/hugo-comment"]
	path = life/hugo/hugo-comment
	url = git@github.com:Yuoek/hugo-comment.git
[submodule "film/quote"]
	path = film/quote
	url = git@github.com:Yuoek/quote.git
[submodule "film/paint"]
	path = film/paint
	url = git@github.com:Yuoek/paint.git
[submodule "film/poetry"]
	path = film/poetry
	url = git@github.com:Yuoek/poetry.git
[submodule "code/asm"]
	path = life/code/asm
	url = git@github.com:Yuoek/asm.git
[submodule "science/physics"]
	path = science/physics
	url = git@github.com:Yuoek/physics.git
[submodule "film/sophiw"]
	path = life/sophiw
	url = git@github.com:Yuoek/sophiw.git
[submodule "science/cs"]
	path = science/cs
	url = git@github.com:Yuoek/cs.git
[submodule "fork/dyyRime"]
	path = fork/dyyRime
	url = git@github.com:Yuoek/dyyRime.git
[submodule "db/rime"]
	path = db/rime
	url = git@github.com:Yuoek/rime.git
[submodule "db/words"]
	path = db/words
	url = git@github.com:Yuoek/words.git
[submodule "life/class"]
	path = life/class
	url = git@github.com:Yuoek/class.git
[submodule "pdf"]
	path = pdf
	url = git@github.com:Yuoek/pdf.git
[submodule "doc"]
	path = doc
	url = git@github.com:Yuoek/doc.git
